.Menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.MenuList {
  margin: 0;

  width: 100%;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  display: flex;
}
.MenuList a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: 18px;
  padding: 15px 5px;
}

.MenuList a.Active {
  opacity: 0.6;
}

.MenuList a.Active:hover {
  cursor: auto;
}

.MenuList a[href="/logout"],
.MenuList a[href="/auth"] {
  margin-left: auto;
  margin-right: 0;
}
