.Input {
  display: block;
  padding: 0;
  margin: auto;
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 10px;
  min-height: 80px;
  position: relative;
}

.Input p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.Input input {
  min-width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 5px 8px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.InputError input {
  border: 1px solid red;
}

.ErrorMsg {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 2.5%;
}
