.Main {
  background: url("../../image/mainBg.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Container {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 1.5%;
}

.MainTitle {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 400;
}

.Main h2 {
  font-size: 18px;
}

.Container q {
  text-align: justify;
}

.Container cite {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.MainBtn {
  background: rgb(104, 196, 61);
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  margin-top: 30px;
}

.CiteContainer {
  display: flex;
  flex-direction: column;
}

.MainBtn:hover {
  opacity: 0.8;
}
