.FoodList {
  list-style: none;
  padding: 0;
}

.FoodList li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0px;
  cursor: pointer;
  background: #54c7fc;
  color: white;
  font-size: 16px;
  line-height: 20px;
  transition: font-size 0.1s;
}

.FoodList li:nth-child(2n) {
  background: #0076ff;
}

.FoodList li:hover {
  font-size: 18px;
  font-weight: bold;
}
