.Auth {
  background: url("../../image/AuthBg.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.AuthContainer {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: flex;
  justify-content: center;
}
.AuthHeader {
  font-size: 60px;
}
.Form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 25px 5px;
  box-sizing: border-box;
}

.FormBtnContainer {
  display: flex;
  justify-content: center;
}

.ErrorText {
  color: #e60808;
}
