.Button {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  margin: 15px;
  min-width: 120px;
  outline: none;
  border: none;
  min-height: 40px;
}

.ButtonBlue {
  background: #0076ff;
}

.ButtonGreen {
  background: #3a8b14;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.ButtonGrey {
  background: #999999;
}

.Button:hover {
  opacity: 0.8;
}
