.FoodCataloge {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.FoodCataloge {
  flex-grow: 1;
}
input.FoodCatalogInput {
  text-align: left;
}

.FoodCataloge h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
}
.FoodCataloge label {
  min-height: 40px;
  padding: 0;
  margin-top: 16px;
}
