.CatalogListItem {
  display: flex;
  align-items: center;
}
.CatalogListItem span:nth-child(1) {
  flex-grow: 1;
  text-align: left;
}
.CatalogListItem span:nth-child(2),
.CatalogListItem span:nth-child(3) {
  font-size: 0px;
  flex-basis: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.15s;
}
.CatalogListItem span:nth-child(2) {
  flex-basis: 15px;
  height: 15px;
}

.CatalogListItem span:nth-child(2) {
  background: url("../../../../../../image/icons/pencil-alt-solid.svg") no-repeat center;
}
.CatalogListItem span:nth-child(3) {
  background: url("../../../../../../image/icons/times-solid.svg") no-repeat center;
}

.CatalogListItem:hover span:nth-child(2),
.CatalogListItem:hover span:nth-child(3) {
  opacity: 1;
  transition: opacity 0.3s;
}
