.DishItem {
  border-bottom: 1px solid #ccc;
  padding: 0;
}

.ItemСolumn span {
  padding: 2px 0;
}

.ItemСolumn:nth-child(2n + 1) {
  background: #b5fa94;
  color: rgba(0, 0, 0);
}

.ItemСolumn:nth-child(2n) {
  background: #b5fa94;
  color: rgba(0, 0, 0);
}
