.App {
  text-align: center;
  min-height: 100vh;
  background: url("../../image/mainBg.jpg");
}

.main_container {
  display: flex;
  padding: 20px;
  justify-content: center;
  padding-top: 80px;
  color: white;
}

.main_container > div {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  height: 80vh;
}

.main_container > div:first-child {
  flex-basis: 30%;
  margin-right: 3%;
}

.main_container > div:last-child {
  flex-basis: 60%;
}
