.FoodList {
  list-style: none;
  padding: 0;
  overflow: auto;
}

.FoodList li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0px;
  padding-left: 20px;
  cursor: pointer;
  background: #68c43d;
  color: white;
  font-size: 16px;
  line-height: 20px;
  transition: font-size 0.1s;
}

.FoodList li:nth-child(2n) {
  background: #8be75f;
}

.FoodList li:hover {
  font-size: 18px;
}
